* {
  font-family: system-ui;
}

.header {
  display: flex;
  width: 100%;
  background: #1f2937; 
}

.tab {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(105, 132, 156);
  color: #d1d5db;
  padding: 1rem;
  width: 5rem;
  margin-right: 1px;
  text-align: center;
  transition: background-color 175ms linear;
}

.tab:hover {
  background-color: rgb(132, 165, 195);
}

main {
  background-color: rgb(105, 132, 156);
  display:flex;
  flex-wrap: wrap;
}

input {
  border-radius: 5px;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card {
  background-color: rgb(182, 182, 182);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
  border: #1f2937;
  border-radius: 10px;
  width: 10rem;
  height: 12rem;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-areas: 
    'id name'
    'other other';
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.name {
  grid-area: name; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  grid-area: id; 
  margin-right: 5px;
  background-color: #1f2937;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  padding: 2px;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.number {
  grid-area: other; 
  width: 100%;
}

input {
  width: 95%;
}

#loading-spinner {
  /* Styles for your spinner, e.g., animation, positioning */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: black;
  color: white;
  padding: 200px;
  font-size: 20px;
  border-radius: 10px;
}